In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

spark

In [2]:
from pyspark.sql import SparkSession

# Initialize Spark session with Iceberg configurations
spark = SparkSession.builder \
    .appName("IcebergExample") \
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
    .config("spark.sql.catalog.my_catalog", "org.apache.iceberg.spark.SparkCatalog") \
    .config("spark.sql.catalog.my_catalog.type", "hadoop") \
    .config("spark.sql.catalog.my_catalog.warehouse", r"C:\Users\ksadi\OneDrive\Desktop\Capstone_Project\Warehouse")\
    .getOrCreate()

In [3]:
spark.sql("CREATE DATABASE IF NOT EXISTS my_catalog.my_new_db")

DataFrame[]

In [4]:
spark.sql("USE my_catalog.my_new_db")

DataFrame[]

In [6]:
spark.sql("""
CREATE TABLE my_table (
    name STRING,
    age INT
) USING iceberg
""")

DataFrame[]

In [7]:
spark.sql("""
CREATE TABLE transport (
    `Port Name` STRING,
    `State` STRING,
    `Port Code` INT,
    `Border` STRING,
    `Date` STRING,
    `Measure` STRING,
    `Value` INT,
    `Latitude` DOUBLE,
    `Longitude` DOUBLE,
    `Point` STRING
) USING iceberg
""")

DataFrame[]

In [5]:
tables = spark.sql("SHOW TABLES")
tables.show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|my_new_db| my_table|      false|
|my_new_db|transport|      false|
+---------+---------+-----------+

In [6]:
csv_file_path = "transportation_data.csv"
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

In [7]:
df.writeTo("my_catalog.my_new_db.transport").append()

In [8]:
transport_data = spark.sql("SELECT * FROM my_catalog.my_new_db.transport")

In [9]:
transport_data.show()

+------------+------------+---------+----------------+--------+--------------------+------+--------+---------+--------------------+
|   Port Name|       State|Port Code|          Border|    Date|             Measure| Value|Latitude|Longitude|               Point|
+------------+------------+---------+----------------+--------+--------------------+------+--------+---------+--------------------+
|        Roma|       Texas|     2310|US-Mexico Border|Dec 2023|               Buses|    46|  26.404|  -99.019|POINT (-99.018981...|
|     Del Rio|       Texas|     2302|US-Mexico Border|Dec 2023|              Trucks|  6552|  29.327| -100.928|POINT (-100.92761...|
|Willow Creek|     Montana|     3325|US-Canada Border|Jan 2024|         Pedestrians|     2|    49.0| -109.731|POINT (-109.73133...|
|    Whitlash|     Montana|     3321|US-Canada Border|Jan 2024|   Personal Vehicles|    29|  48.997| -111.258|POINT (-111.25791...|
|      Ysleta|       Texas|     2401|US-Mexico Border|Jan 2024|Personal Vehicle ...|521714|  31.673| -106.335|POINT (-106.33544...|
|     Warroad|   Minnesota|     3423|US-Canada Border|Jan 2024|              Trucks|   837|  48.999|  -95.377|POINT (-95.376555...|
|   Wildhorse|     Montana|     3323|US-Canada Border|Jan 2024|              Trucks|    20|  48.999| -110.215|POINT (-110.21508...|
|   Wildhorse|     Montana|     3323|US-Canada Border|Jan 2024|Personal Vehicle ...|   965|  48.999| -110.215|POINT (-110.21508...|
|    Westhope|North Dakota|     3419|US-Canada Border|Jan 2024|Truck Containers ...|   102|    49.0| -101.017|POINT (-101.01727...|
|     Warroad|   Minnesota|     3423|US-Canada Border|Jan 2024|Truck Containers ...|   459|  48.999|  -95.377|POINT (-95.376555...|
|      Ysleta|       Texas|     2401|US-Mexico Border|Jan 2024|Truck Containers ...| 21355|  31.673| -106.335|POINT (-106.33544...|
|      Ysleta|       Texas|     2401|US-Mexico Border|Jan 2024|         Pedestrians|127217|  31.673| -106.335|POINT (-106.33544...|
|   Wildhorse|     Montana|     3323|US-Canada Border|Jan 2024|   Personal Vehicles|   519|  48.999| -110.215|POINT (-110.21508...|
|   Wildhorse|     Montana|     3323|US-Canada Border|Jan 2024|Truck Containers ...|    21|  48.999| -110.215|POINT (-110.21508...|
|    Westhope|North Dakota|     3419|US-Canada Border|Jan 2024|   Personal Vehicles|   339|    49.0| -101.017|POINT (-101.01727...|
|     Warroad|   Minnesota|     3423|US-Canada Border|Jan 2024|Truck Containers ...|   590|  48.999|  -95.377|POINT (-95.376555...|
|      Ysleta|       Texas|     2401|US-Mexico Border|Jan 2024|Truck Containers ...| 63367|  31.673| -106.335|POINT (-106.33544...|
|   Wildhorse|     Montana|     3323|US-Canada Border|Jan 2024|Truck Containers ...|    10|  48.999| -110.215|POINT (-110.21508...|
|  Sweetgrass|     Montana|     3310|US-Canada Border|Jan 2024|Truck Containers ...|  1985|  48.998|  -111.96|POINT (-111.95961...|
| Brownsville|       Texas|     2301|US-Mexico Border|Jan 2024|Rail Containers E...|  7712|  25.952|  -97.401|POINT (-97.40067 ...|
+------------+------------+---------+----------------+--------+--------------------+------+--------+---------+--------------------+
only showing top 20 rows